img {
    width: 50px;
}
tr {
    text-align: center;
}
tr th {
    align-items: center;
    border: 2px black solid;
}
td {
    border: 3px red solid;
}
table{
    margin-top: 20px;
    margin: 0 auto;
}
.linha h2 {
    text-align: center;
}
