ul li , h2{
    text-align: center;
    padding: 5px;
    border: solid 1px;
    margin: 0 auto;
    margin-top: 20px;
    width: 250px;
    background-color: blanchedalmond;
}
.linha {
background-color: blanchedalmond;
}
body {
    background-color: blanchedalmond;
}
.navigation {
    background-color: rgb(221, 203, 176);
}