.box1, .box2 {
    align-items: center;
    height: 200px;
    margin: 0 auto;
}
.box1 {
    padding: 20px;
    font-size: 1.2em;
    width: 350px;
    background-color: yellowgreen;
}
.box2{
    padding: 20px;
    font-size: 1.2em;
    margin-top: 10px;
    width: 350px;
    background-color: yellowgreen;
}
.box1 h2, .box2 h2 {
    text-align: center;
}